---
layout: default
title: "Paintings"
permalink: /paintings/
---

<h1>Paintings</h1>

{% for post in site.categories.paintings %}
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  
  {% if post.image %}
    <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" style="max-width: 50%; height: auto;">
  {% endif %}
  
  <p>{{ post.excerpt }}</p> <!-- Shows an excerpt of the post content -->
  <a href="{{ post.url | relative_url }}">Read more</a> <!-- Link to the full post -->
  <hr>
{% endfor %}
